@import 'base/index.scss';
@import 'utilities/index.scss';
@import 'components/index.scss';

.container {
  padding-right: 5%;
  padding-left: 5%;
}

* {
  margin: 0 auto;
  text-align: center;
  color: $text-color;
}



ul.nav {
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

img.img--avatar {
  width: 50%;
}

img.img--frame {
  padding: 0.35em;
  border:1px solid #021a40;
}

li.nav__item {
  padding: 1em;
}

li.nav__item:hover, li.nav__item:active {
  background-color: $primary-color;
  color: $button-text-color;
}

a.link {
  color: $secondary-color;
}

li.nav__item {
  width: 100%;
}

.theme__colors{

}

.headline--primary {
  color: $primary-color;
}

.grid--row, {
  display: flex;
}

.navigation, .nav {
  display: flex;
}

.nav {
  flex-direction: column;
}


// BUTTONS

button {
  color: $button-text-color;
}

.btn--default {
  background-color: $default;
}

.btn--success {
  background-color: $success;
}

.btn--error {
  background-color: $error;
}

.btn--warning {
  background-color: $warning;
}

.btn--info {
  background-color: $info;
}


.centered {
  margin: 0 auto;
  text-align: center;
}

.card {
  margin: 2em auto;
}

.theme__colors {
  border: 0;
  border-radius: 0.25em;
}

//
// @for $i from 1 through 12 {
//   .grid--col--#{$i}
//     max-width: ((#{$i} / 12) * 100)%;
//     background-color: red;
//     padding: 1em;
// }
