@import 'base/index.scss';
@import 'utilities/index.scss';
@import 'components/index.scss';

.container {
  padding-right: 5%;
  padding-left: 5%;
}

ul.nav {
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

img.img--avatar {
  width: 50%;
}

img.img--frame {
  padding: em(8px);
  border:1px solid #021a40;
}

li.nav__item:hover, li.nav__item:active {
  background-color: $primary-color;
  color: $button-text-color;
}

li.nav__item {
  width: 100%;
}

.theme__colors{

}

.grid--row, {
  display: flex;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.card {
  margin: 2em auto;
}

.theme__colors {
  border: 0;
  border-radius: 0.25em;
}

//
// @for $i from 1 through 12 {
//   .grid--col--#{$i}
//     max-width: ((#{$i} / 12) * 100)%;
//     background-color: red;
//     padding: 1em;
// }
